body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.grid_24 {
  display: inline;
  float: left;
  width: 979.999999999992px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_23 {
  display: inline;
  float: left;
  width: 937.916666666659px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_22 {
  display: inline;
  float: left;
  width: 895.833333333326px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_21 {
  display: inline;
  float: left;
  width: 853.7499999999931px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_20 {
  display: inline;
  float: left;
  width: 811.66666666666px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_19 {
  display: inline;
  float: left;
  width: 769.583333333327px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_18 {
  display: inline;
  float: left;
  width: 727.4999999999941px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_17 {
  display: inline;
  float: left;
  width: 685.4166666666611px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_16 {
  display: inline;
  float: left;
  width: 643.333333333328px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_15 {
  display: inline;
  float: left;
  width: 601.249999999995px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_14 {
  display: inline;
  float: left;
  width: 559.166666666662px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_13 {
  display: inline;
  float: left;
  width: 517.083333333329px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_12 {
  display: inline;
  float: left;
  width: 474.999999999996px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_11 {
  display: inline;
  float: left;
  width: 432.916666666663px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_10 {
  display: inline;
  float: left;
  width: 390.83333333333px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_9 {
  display: inline;
  float: left;
  width: 348.74999999999704px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_8 {
  display: inline;
  float: left;
  width: 306.666666666664px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_7 {
  display: inline;
  float: left;
  width: 264.583333333331px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_6 {
  display: inline;
  float: left;
  width: 222.499999999998px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_5 {
  display: inline;
  float: left;
  width: 180.416666666665px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_4 {
  display: inline;
  float: left;
  width: 138.333333333332px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_3 {
  display: inline;
  float: left;
  width: 96.249999999999px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_2 {
  display: inline;
  float: left;
  width: 54.166666666666px;
  margin: 0 15px;
  min-height: 5px;
}
.grid_1 {
  display: inline;
  float: left;
  width: 12.083333333333002px;
  margin: 0 15px;
  min-height: 5px;
}
.column.alpha {
  margin-left: 0px;
}
.column.omega {
  margin-right: 0px;
}
.grid_24 {
  margin: 0px;
}
.IN-widget iframe {
  left: 150px !important;
  top: -24px !important;
}
/* Hide while web fonts are loading */
.wf-loading .snappages-header-element,
.wf-loading .page-title,
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading .slide-heading,
.wf-loading .slide-caption,
.wf-loading .block.highlight,
.wf-loading #snappages-navigation-links a {
  visibility: hidden;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e9e9e9;
  background-repeat: both;
  background-attachment: fixed;
  background-size: auto;
  background-position: top left;
  -webkit-text-size-adjust: none;
}
a:link,
a:visited,
.text-link {
  color: #fd4e42;
  text-decoration: none;
}
a:hover {
  color: #fd4e42;
}
img {
  border-style: none;
  text-decoration: none;
}
.image {
  padding-right: 10px;
}
.imageLink:hover {
  background-color: transparent;
  text-decoration: none;
}
.zoom-image-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background: url(http://assets.snappages.com/websites/images/image-zoom-overlay.png) no-repeat;
  width: 30px;
  height: 30px;
  display: none;
}
a:hover.cboxElement {
  background-color: transparent;
}
table {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  font-size: 100%;
}
ul,
ol {
  overflow: hidden;
}
.ws {
  white-space: pre-wrap;
}
#wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
}
#grid {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  width: 980px;
  min-height: 400px;
}
.page-title {
  color: #ababab;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 41px;
  line-height: 2em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.05em;
}
h1,
.h1 {
  color: #fd4e42;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  line-height: 1.5em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.04em;
  text-shadow: none;
  margin: 0;
}
h2,
.h2 {
  color: #fd4e42;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 2em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.04em;
  text-shadow: none;
  margin: 0;
}
h3,
.h3 {
  color: #999999;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 2em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.04em;
  text-shadow: none;
  margin: 0;
}
h4,
.h4 {
  color: #999999;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 2em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.04em;
  text-shadow: none;
  margin: 0;
}
.block {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.block.heading {
  margin-bottom: 0px;
  padding: 0px;
}
.block.anchor {
  margin-bottom: 0px;
  padding: 0px;
}
.block.spacer {
  padding: 0px;
  margin: 0px;
}
.buttonWrapper {
  margin-right: 10px;
  position: relative;
}
ul.button {
  padding: 0px;
  margin: 0px 0;
  padding-left: 10px;
  list-style: none;
  float: left;
  overflow: visible;
  position: relative;
}
ul.button li {
  float: left;
}
ul.button li a {
  float: left;
  text-decoration: none;
  padding: 7px 10px 0 0;
  margin-right: -10px;
}
ul.button li a span {
  float: left;
  padding-right: 10px;
  display: block;
  margin-top: -7px;
  margin-left: -10px;
  height: 33px;
}
ul.button li a:link,
ul.button li a:visited {
  color: #626262;
  font: bold 15px "Arial", Helvetica, sans-serif;
}
ul.button li a:hover {
  color: #626262;
}
#grid .block.divider {
  border-bottom: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}
.rollover-holder .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fd4e42;
}
.download-button {
  font-family: 'Arial';
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 13px;
  line-height: 1.5em;
}
#social-icons-wrapper {
  pointer-events: none;
  z-index: 1201;
}
.snappages-social-icon,
.sp-social-icon {
  pointer-events: auto;
}
.sp-modal-blocker {
  background: #000;
  background: radial-gradient(ellipse at center center, rgba(0, 0, 0, 0.2) 0%, #000000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
}
.sp-modal-open {
  overflow: hidden;
}
/*____________________________________________________
  Blog Elements
  ____________________________________________________
*/
a.blog-link:link,
a.blog-link:visited {
  text-decoration: none;
}
.blogHeading {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  font-size: 24px;
  line-height: 1.5em;
}
.blogHeading a:link,
.blogHeading a:visited {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.5em;
}
.blogHeading a:hover {
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 2px;
  background: #fd4e42;
}
.blogSide {
  margin-left: 15px;
  margin-bottom: 20px;
}
.blogSideHeading {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  font-size: 16px;
  font-weight: bold;
}
.blogSideList {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  border-bottom: 1px solid #CCCCCC;
}
.blogSide a:link,
.blogSide a:visited {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  text-decoration: none;
  font-weight: normal;
}
.blogSide a:hover {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  text-decoration: underline;
  background: transparent;
  font-weight: normal;
}
.blogDate {
  float: left;
  font-size: 13px;
  line-height: 120%;
  width: 250px;
  color: #999999;
}
.blogPosts ul,
.blogposts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.blogPosts ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
.blogPosts ul li a:link,
.blogPosts ul li a:visited,
.blogposts ul li a:link,
.blogposts ul li a:visited {
  text-decoration: none;
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  list-style: none;
  display: block;
  margin: 0;
  padding: 5px;
}
.blogPosts ul li:last-child a,
.blogposts ul li:last-child a {
  text-decoration: none;
}
.blogPosts ul li a:hover,
.blogposts ul li a:hover {
  display: block;
  color: #fff;
  text-decoration: none;
  background: #fd4e42;
}
.comment {
  margin-bottom: 10px;
  line-height: 1.5em;
}
.comment-reply {
  padding-left: 20px;
  margin-top: 10px;
  line-height: 1.5em;
}
.comment-header {
  padding: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #CCC;
  box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.2) inset, inset 0 -2px 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, inset 0 -2px 0 1px rgba(0, 0, 0, 0.2);
}
.admin-comment-header {
  padding: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: transparent;
  box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.2) inset, inset 0 -2px 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, inset 0 -2px 0 1px rgba(0, 0, 0, 0.2);
}
.comment-body {
  margin-top: 5px;
  margin-bottom: 10px;
}
.blogCommentCount {
  float: right;
  font-weight: bold;
  padding-right: 20px;
  background: url(http://assets.snappages.com/websites/images/comments_small.gif) no-repeat right;
}
.comment-title {
  font-size: 22px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.commentLink {
  padding-left: 20px;
  background: url(http://assets.snappages.com/websites/images/comments_small.gif) no-repeat left;
}
.rightArrow {
  padding-right: 20px;
  background: url(http://assets.snappages.com/websites/images/arrow_right_small.gif) no-repeat right;
}
.plusSign {
  padding-left: 20px;
  background: url(http://assets.snappages.com/websites/images/plus_small.gif) no-repeat left;
}
.plusSign a:link,
.plusSign a:visited {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  text-shadow: none;
  text-decoration: none;
  font-weight: bold;
}
.folderIcon {
  padding-left: 20px;
  background: url(http://assets.snappages.com/websites/images/folder_16.png) no-repeat left;
}
.tagIcon {
  padding-left: 18px;
  padding-top: 1px;
  background: url(http://assets.snappages.com/websites/images/tag_16.png) no-repeat left;
}
.comment-reply-link {
  padding-left: 20px;
  float: right;
}
.rssLink {
  padding-left: 20px;
  background: url(http://assets.snappages.com/websites/images/feed.png) no-repeat left;
}
.rssLinkRight {
  padding-right: 20px;
  background: url(http://assets.snappages.com/websites/images/feed.png) no-repeat right;
}
.rssHeading {
  font-size: 18px;
}
/*____________________________________________________
  SHARE BUTTONS
  ____________________________________________________
*/
.share-button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 5px;
  color: #FFF;
  line-height: 13px;
  font-size: 13px;
  font-weight: normal;
  font-family: Arial;
}
a.share-button:link,
a.share-button:visited {
  font-family: Arial;
  text-decoration: none;
  color: #FFF;
}
a.share-button:hover {
  font-family: Arial;
  text-decoration: none;
  color: #FFF;
}
.share-button.facebook {
  background-color: #516aa4;
  text-shadow: 0 -1px 0 #1a3573;
  box-shadow: 0 2px 0 0px #1a3573, 0 2px 3px rgba(0, 0, 0, 0.5);
}
.share-button.twitter {
  background-color: #07a9ef;
  text-shadow: 0 -1px 0 #336699;
  box-shadow: 0 2px 0 0px #336699, 0 2px 3px rgba(0, 0, 0, 0.5);
}
.share-button.addthis {
  background-color: #ff6326;
  text-shadow: 0 -1px 0 #8e2f11;
  box-shadow: 0 2px 0 0px #a73a18, 0 2px 3px rgba(0, 0, 0, 0.5);
}
.share-button.linkedin {
  background-color: #0c6b92;
  text-shadow: 0 -1px 0 #094660;
  box-shadow: 0 2px 0 0px #094660, 0 2px 3px rgba(0, 0, 0, 0.5);
}
.share-button.googleplus {
  background-color: #444;
  text-shadow: 0 -1px 0 #111111;
  box-shadow: 0 2px 0 0px #111111, 0 2px 3px rgba(0, 0, 0, 0.5);
}
.share-button.pinterest {
  background-color: #CC0000;
  text-shadow: 0 -1px 0 #7e0000;
  box-shadow: 0 2px 0 0px #7e0000, 0 2px 3px rgba(0, 0, 0, 0.5);
}
.share-button.comments {
  background-color: #999;
  text-shadow: 0 -1px 0 #555555;
  box-shadow: 0 2px 0 0px #555555, 0 2px 3px rgba(0, 0, 0, 0.5);
}
/*____________________________________________________
  Form Elements
  ____________________________________________________
*/
form {
  display: inline;
  margin: 0;
}
.req {
  background: url(http://assets.snappages.com/websites/images/input_bg.png) repeat-x top #ffcccc;
  border: #CC0000 1px solid;
  font-size: 13px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: none;
}
#login_form input,
#register_form input,
.formInput {
  color: #000000 !important;
  background: #FFFFFF !important;
  border: #333 1px solid !important;
  border: rgba(0, 0, 0, 0.3) 1px solid !important;
  font-size: 14px !important;
  margin-bottom: 8px !important;
  /*box-shadow: 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2) inset !important;*/
}
input.formInput,
input.req {
  padding: 3px;
  height: 20px;
  padding: 3px !important;
}
textarea.formInput,
textarea.req {
  font-family: Arial, Verdana, Helvetica, sans-serif !important;
  padding: 5px !important;
  width: 97% !important;
}
.searchInput {
  background: url(http://assets.snappages.com/websites/images/search_input_bg.png) no-repeat;
  border: none;
  padding-top: 5px;
  padding-left: 5px;
  height: 29px;
  width: 153px;
  font-size: 13px;
}
.searchButton {
  background: url(http://assets.snappages.com/websites/images/search_button_bg.png) no-repeat top;
  border: none;
  height: 29px;
  width: 27px;
  margin-top: -6px;
  margin-left: -5px;
}
.alert_attention,
.alert_success,
.alert_error {
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 1px;
  font-weight: bold;
  font-family: Arial;
  font-size: 13px;
  line-height: 2em;
  margin-top: 5px;
  border-radius: 5px;
}
.alert_attention {
  background: #ffec7d url(http://assets.snappages.com/websites/images/attention_small.png) no-repeat 4px 5px;
  color: #630;
}
.alert_success {
  background: #ccff66 url(http://assets.snappages.com/websites/images/check_small.png) no-repeat 5px 7px;
  color: #030;
}
.alert_error {
  background: #ff9999 url(http://assets.snappages.com/websites/images/x_small.png) no-repeat 4px 5px;
  padding-left: 25px;
  color: #900;
}
ul.button li a span {
  height: 44px;
  margin-top: -12px;
  margin-left: -19px;
  padding-right: 19px;
}
ul.button li a {
  padding-top: 12px;
  padding-right: 18px;
}
ul.button li a:link,
ul.button li a:visited {
  background-image: url('/users/344340/theme/369921/images/button.png');
  background-repeat: no-repeat;
  background-position: top right;
}
ul.button li a:hover {
  background: url('/users/344340/theme/369921/images/button_over.png') no-repeat top right;
}
ul.button li a span {
  background: url('/users/344340/theme/369921/images/button.png') repeat-x;
}
ul.button li a:hover span {
  background: url('/users/344340/theme/369921/images/button_over.png') repeat-x;
}
#snappages-navigation,
#sp-navigation {
  background-color:#666;
  position: relative;
  top: -10px;
  color: #ffffff;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  letter-spacing: 0em;
  text-shadow: none;
  min-height: 50px;
  line-height: 30px;
  width: 100%;
  right: 0;
  left: 0;
}
#snappages-navigation #snappages-navigation-bar,
#sp-navigation #snappages-navigation-bar,
#snappages-navigation #sp-navigation-bar,
#sp-navigation #sp-navigation-bar {
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  left: 0px;
}
#snappages-navigation #snappages-navigation-bar .bar-center,
#sp-navigation #snappages-navigation-bar .bar-center,
#snappages-navigation #sp-navigation-bar .bar-center,
#sp-navigation #sp-navigation-bar .bar-center {
  min-height: 50px;
  background: url('/users/344340/theme/369921/images/navbar_center.png') repeat-x;
}
#snappages-navigation #snappages-navigation-links,
#sp-navigation #snappages-navigation-links,
#snappages-navigation #sp-navigation-links,
#sp-navigation #sp-navigation-links {
  z-index: 1200;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: auto;
  margin-left: auto;
  width: 1060px;
}
#snappages-navigation-links > ul,
#sp-navigation-links > ul {
  padding: 0;
  position: relative;
  top: 6px;
  margin: 0px;
  overflow: visible;
  height: 38px;
  padding-right: 10px;
  padding-left: 10px;
  list-style: none;
  display: table;
  pointer-events: auto;
  float: right;
}
#snappages-navigation-links > ul > li,
#sp-navigation-links > ul > li {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  height: 100%;
  margin: 0px 2px;
}
#snappages-navigation-links > ul > li > a:link,
#snappages-navigation-links > ul > li > a:visited,
#sp-navigation-links > ul > li > a:link,
#sp-navigation-links > ul > li > a:visited {
  color: #ffffff;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-transform: none;
  letter-spacing: 0em;
  text-shadow: none;
  padding: 0px 15px;
  text-decoration: none;
}
#snappages-navigation-links > ul > li > a:hover,
#sp-navigation-links > ul > li > a:hover {
  color: #fd4e42;
  padding: 0px 15px;
}
#snappages-navigation-links > ul > li.alpha,
#sp-navigation-links > ul > li.alpha {
  border-left: none;
}
#snappages-navigation-links > ul > li.omega,
#sp-navigation-links > ul > li.omega {
  border-right: none;
}
#snappages-navigation-links > ul > li.selected > a,
#sp-navigation-links > ul > li.selected > a {
  display: table-cell;
  vertical-align: middle;
  color: #fd4e42;
  background-color: transparent;
  border-radius: 0px;
  height: 38px;
}
#snappages-navigation-links > ul > li,
#sp-navigation-links > ul > li {
  position: relative;
}
#snappages-navigation-links > ul > li > ul,
#sp-navigation-links > ul > li > ul {
  position: absolute;
  list-style: none;
  display: none;
  line-height: 2em;
  text-shadow: none;
  background: #000000;
  z-index: 550;
  margin: 0;
  padding: 0;
  overflow: visible;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  width: auto;
}
#snappages-navigation-links > ul > li > ul > li > a:link,
#snappages-navigation-links > ul > li > ul > li a:visited,
#sp-navigation-links > ul > li > ul > li > a:link,
#sp-navigation-links > ul > li > ul > li a:visited {
  white-space: nowrap;
  display: block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  background: #000000;
  color: #ffffff;
}
#snappages-navigation-links > ul > li > ul > li > a:hover,
#sp-navigation-links > ul > li > ul > li > a:hover {
  color: #ffffff;
  background: #fd4e42;
}
#snappages-header,
#sp-header {
  width: 1060px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  background-color: #20B2AA;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-size: auto;
  background-position: bottom center;
  width: 100%;
}
#snappages-header #snappages-header-canvas,
#sp-header #snappages-header-canvas,
#snappages-header #sp-header-canvas,
#sp-header #sp-header-canvas {
  position: relative;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
}
#snappages-header .snappages-header-element,
#sp-header .snappages-header-element,
#snappages-header .sp-header-element,
#sp-header .sp-header-element {
  padding: 10px 10px;
  line-height: 1em;
  display: inline-block;
  position: absolute;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#snappages-header .snappages-header-element.over,
#sp-header .snappages-header-element.over,
#snappages-header .sp-header-element.over,
#sp-header .sp-header-element.over {
  box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.5), 0 0 200px 2px rgba(100, 100, 100, 0.3) inset;
  border-radius: 5px;
}
#snappages-content,
#sp-content {
  width: 1060px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  background-color: #ffffff;
  background-repeat: both;
  background-attachment: scroll;
  background-size: auto;
  background-position: top left;
}
#snappages-footer,
#sp-footer {
  width: 1060px;
  min-height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  border-radius: 0px;
  color: #FFFFFF;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  text-shadow: none;
  background-color: #666;
  background-repeat: both;
  background-attachment: scroll;
  background-size: auto;
  background-position: top center;
}
#snappages-footer-links,
#sp-footer-links {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  min-height: 15px;
  color: #FFFFFF;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  text-shadow: none;
  color: #ffffff;
  text-decoration: underline;
}
#snappages-footer-links ul,
#sp-footer-links ul {
  padding: 0;
  position: relative;
  top: 6px;
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;
  list-style: none;
  display: table;
  pointer-events: auto;
  margin-right: auto;
  margin-left: auto;
}
#snappages-footer-links li,
#sp-footer-links li {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 10px;
}
#snappages-footer-links a:link,
#sp-footer-links a:link,
#snappages-footer-links a:visited,
#sp-footer-links a:visited {
  color: #ffffff;
  text-decoration: underline;
}
#snappages-footer-links a:hover,
#sp-footer-links a:hover {
  color: #fd4e42;
}
#snappages-footer-links.basic,
#sp-footer-links.basic {
  min-height: 50px;
}
#snappages-footer-menu,
#sp-footer-menu {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  min-height: 25px;
  padding-top: 30px;
  color: #FFFFFF;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  text-shadow: none;
}
#snappages-footer-menu .footer-heading,
#sp-footer-menu .footer-heading {
  color: #FFFFFF;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.12em;
}
#snappages-footer-menu .footer-column,
#sp-footer-menu .footer-column {
  float: left;
}
#snappages-footer-menu .footer-link,
#sp-footer-menu .footer-link {
  color: #ffffff;
  text-decoration: underline;
  margin-bottom: 5px;
}
#snappages-footer-menu a:link,
#sp-footer-menu a:link,
#snappages-footer-menu a:visited,
#sp-footer-menu a:visited {
  color: #ffffff;
}
#snappages-footer-menu a:hover,
#sp-footer-menu a:hover {
  color: #fd4e42;
}
#footer-menu-holder.columns-1 .footer-column {
  width: 100%;
}
#footer-menu-holder.columns-2 .footer-column {
  width: 45%;
  margin-right: 5%;
}
#footer-menu-holder.columns-2 .footer-column.omega {
  margin-right: 0;
}
#footer-menu-holder.columns-3 .footer-column {
  width: 30%;
  margin-right: 5%;
}
#footer-menu-holder.columns-3 .footer-column.omega {
  margin-right: 0;
}
#footer-menu-holder.columns-4 .footer-column {
  width: 22%;
  margin-right: 4%;
}
#footer-menu-holder.columns-4 .footer-column.omega {
  margin-right: 0;
}
#footer-menu-holder.columns-5 .footer-column {
  width: 16%;
  margin-right: 5%;
}
#footer-menu-holder.columns-5 .footer-column.omega {
  margin-right: 0;
}
#footer-extra {
  text-align: right;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  color: #FFFFFF;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  text-shadow: none;
}
#footer-extra a:link,
#footer-extra a:visited {
  color: #ffffff;
  text-decoration: underline;
}
#footer-extra a:hover {
  color: #fd4e42;
}
#billboard {
  width: 980px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.block.highlight > div:first-child,
.block.highlight div.cke_editable {
  background-color: #fd4e42;
  background-repeat: both;
  background-attachment: scroll;
  background-size: auto;
  background-position: top center;
  color: #ffffff;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 1.3em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.02em;
  text-shadow: none;
  width: auto;
  padding: 15px;
  border-radius: 8px;
}
.review_ask
{
  margin-left:20px;
}
a:hover
{
  border-bottom: 1px solid #acacac;
}
.snappages-social-icon a:hover,
#snappages-navigation-links a:hover,
.js-editor-buttons a:hover
{
  border-style: none;
}
.error
{
  margin:0px;
  padding:0px;
  font-size:15px;
}
.helptext
{
  color:#666;
  display:none;
}
.errorlist
{
  padding:0px;
  color:#666;
  margin:0px;
  list-style-type: none;
}
.js-editor-iframe
{
  height:150px;
}
.item
{
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.item_comment,
.item_reviewer,
.item_list,
.item_invite
{
  list-style-type: none;
  border: 1px solid whitesmoke;
  border-left:1px solid #acacac;
  margin:10px;
  padding:5px;
}
#comments_list
{
  padding:0px;
}
.item_review
{
  padding:5px;
  border: 1px solid whitesmoke;
  box-shadow: 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2) inset !important;
}
.formContent input,
.formContent textarea
{
  width:100%;
}
.timestamp
{
  color:#666;font-size:13px;
}