/////////////////
// Semantic.gs // for LESS: http://lesscss.org/
/////////////////

// Defaults which you can freely override
@column-width: 60;
@gutter-width: 20;
@columns: 12;

// Utility variable — you should never need to modify this
@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

// Set @total-width to 100% for a fluid layout
@total-width: @gridsystem-width;

// Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// @min-width: 960;
// @correction: 0.5 / @min-width * 100 * 1%;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


//////////
// GRID //
//////////

body {
	width: 100%;
	.clearfix;
}

.row(@columns:@columns) {
	display: block;
	width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width);
	margin: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1);
	// *width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width)-@correction;
	// *margin: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1)-@correction;
	.clearfix;
}
.column(@x,@columns:@columns) {
	display: inline;
	float: left;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width);
	margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width);
	min-height: 5px;
	// *width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width)-@correction;
	// *margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width)-@correction;
}
.push(@offset:1) {
	margin-left: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}
.pull(@offset:1) {
	margin-right: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);
}
.alpha(){
	margin-left: 0px;
}
.omega(){
	margin-right: 0px;
}
@gutter-width: 30;
@columns: 24;
@column-width: 12.083333333333;

.grid(@index) when (@index > 0) {
	.grid_@{index} { 
		.column(@index); 
	}
	.grid(@index - 1);
}
.grid(0) {}

.grid(@columns);

.column.alpha{.alpha();}
.column.omega{.omega();}

.grid_24{ margin: 0px; }

.no-select(){
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.textshadow-none(){ text-shadow: none; }
.textshadow-hard(){ text-shadow: 1px 1px 0 rgba(0,0,0,.5); }
.textshadow-soft(){ text-shadow: 0px 1px 2px rgba(0,0,0,.8); }
.textshadow-beveldark(){ text-shadow: 0 -1px 0 rgba(0,0,0,.5); }
.textshadow-bevellight(){ text-shadow: 0 1px 0 rgba(255,255,255,.5); }
.textshadow-long(){ text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 1px rgba(0, 0, 0, 0.1), 3px 3px 1px rgba(0, 0, 0, 0.07), 4px 4px 1px rgba(0, 0, 0, 0.06), 5px 5px 1px rgba(0, 0, 0, 0.05), 6px 6px 1px rgba(0, 0, 0, 0.04), 7px 7px 1px rgba(0, 0, 0, 0.03), 8px 8px 1px rgba(0, 0, 0, 0.03), 9px 9px 1px rgba(0, 0, 0, 0.03), 10px 10px 1px rgba(0, 0, 0, 0.02), 11px 11px 1px rgba(0, 0, 0, 0.02), 12px 12px 1px rgba(0, 0, 0, 0.01), 13px 13px 1px rgba(0, 0, 0, 0.01), 14px 14px 1px rgba(0, 0, 0, 0.01), 15px 15px 1px rgba(0, 0, 0, 0.01); }

.IN-widget iframe {    left: 150px !important;    top:-24px !important;}

/* Hide while web fonts are loading */
.wf-loading .snappages-header-element,
.wf-loading .page-title,
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading .slide-heading,
.wf-loading .slide-caption,
.wf-loading .block.highlight,
.wf-loading #snappages-navigation-links a
{
    visibility: hidden;
}

body{
	margin: 0;
	padding: 0;
	height:100%;
	.bg;
	-webkit-text-size-adjust: none;
}

a:link, a:visited, .text-link{
	.textLink;
}

a:hover{
}

img{
	border-style: none;
	text-decoration: none;
}
.image{
	padding-right: 10px;
}
.imageLink:hover{
	background-color: transparent;
	text-decoration: none;
}

.zoom-image-overlay{
	position:absolute;
	top: 10px;
	left: 10px;
	background: url(http://assets.snappages.com/websites/images/image-zoom-overlay.png) no-repeat;
	width: 30px;
	height: 30px;
	display: none;
}
a.zoom-image{

}

a:hover.cboxElement{
	background-color: transparent;
}

table{
	.bodyText;
	font-size: 100%;
}

ul,ol{
	overflow:hidden;
}

.ws{
	white-space: pre-wrap;
}

#wrapper{
	position: relative;
	margin: 0 auto;
	overflow:hidden;
	min-height:100%;
}

#grid{
	.bodyText;
	width: @content_width;
	min-height: 400px;
}

.page-title{
	.pageHeading;
}

h1,.h1{
	.heading1;
	margin: 0;
}
h2,.h2{
	.heading2;
	margin: 0;
}
h3,.h3{
	.heading3;
	margin: 0;
}
h4,.h4{
	.heading4;
	margin: 0;
}

.block {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.block.heading {
	margin-bottom: 0px;
	padding: 0px;
}
.block.anchor{
	margin-bottom: 0px;
	padding: 0px;
}
.block.spacer{
	padding:0px;
	margin:0px;
}

.buttonWrapper{
	margin-right: 10px;
	position: relative;
}

ul.button {
	padding: 0px;
	margin: 0px 0;
    padding-left: 10px;
	list-style: none;
	float: left;
    overflow: visible;
	position: relative;
}
ul.button li {
	float: left;
}
ul.button li a {
	float: left;
	text-decoration: none;
	padding: 7px 10px 0 0;
	margin-right: -10px;
}
ul.button li a span {
	float: left;
	padding-right: 10px;
	display: block;
	margin-top: -7px;
    margin-left: -10px;
	height: 33px;
}
ul.button li a:link, ul.button li a:visited{
 	color: @buttonLabelColor;
	font: bold 15px "Arial", Helvetica, sans-serif;
	.buttonLabelShadow;
}
ul.button li a:hover{
 	color: @buttonLabelColor;
}
ul.button.paypal li a:link, ul.button.paypal li a:visited{
 	color: #003366;
	font: italic bold 15px "Arial", Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background-image: url(http://assets.snappages.com/websites/images/paypalbutton.png);
}
ul.button.paypal li a:hover{color: #069;background: url(http://assets.snappages.com/websites/images/paypalbutton_over.png) no-repeat top right;}
ul.button.paypal li a span  {background: url(http://assets.snappages.com/websites/images/paypalbutton.png) repeat-x;}
ul.button.paypal li a:hover span{background: url(http://assets.snappages.com/websites/images/paypalbutton_over.png) repeat-x;}

#grid .block.divider{
	border-bottom:none;
	margin-bottom: 10px;
	margin-top: 10px;
}
.divider {
	width: 100%;
	.dividerStyle;
}

.rollover-holder .bg {
	position:absolute;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	display:none;
	border-radius:5px;
	-moz-border-radius:5px;
	background: @primaryColor;
}
.download-button{
	font-family: 'Arial';
	.no-select;
	cursor:pointer;
	white-space:nowrap;
	font-size: 13px;
	line-height: 1.5em;
}
.download-link{
	background: url(http://assets.snappages.com/websites/images/download_link.gif) no-repeat top left;
	padding-left: 16px;
}

#social-icons-wrapper{
	z-index:1201;
}

.snappages-social-icon, .sp-social-icon{
	pointer-events: auto;
}

.snappages-social-icon img{
	opacity:0.7;
	height:40px;
	margin-left:5px;
}

.snappages-social-icon img:hover{
	opacity:1;
}

.sp-modal-blocker{
	background: #000;
	background: radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.2) 0%, #000000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9000;
}
.sp-modal-open{
	overflow:hidden;
}
/*____________________________________________________
  Blog Elements
  ____________________________________________________
*/
a.blog-link:link, a.blog-link:visited{
	text-decoration: none;
}
.blogHeading {
	.bodyText;
	font-size: 24px;
	line-height: 1.5em;
	}
.blogHeading a:link, .blogHeading a:visited {
	.bodyText;
	font-size: 24px;
	text-decoration: none;
	line-height: 1.5em;
}
.blogHeading a:hover{
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 2px;
	background: @primaryColor;
}
.blogSide {
	margin-left: 15px;
    margin-bottom: 20px;
    }
.blogSideHeading {
	.bodyText;
	font-size: 16px;
	font-weight: bold;
	}
.blogSideList {
	padding-top: 5px;
	padding-bottom: 5px;
    margin-left: 0px;
	.dividerStyle;
    }

.blogSide a:link, .blogSide a:visited{
	.bodyText;
	text-decoration: none;
	font-weight: normal;
	}
.blogSide a:hover{
	.bodyText;
	text-decoration: none;
	background: transparent;
	font-weight: normal;
	}

.blogDate {
	float: left;
	font-size: 13px;
	line-height: 120%;
	width: 250px;
    color: @secondaryColor;
	}

.blogPosts ul, .blogposts ul{
	list-style: none;
	margin: 0;
	padding: 0;
    overflow: visible;
	}
.blogPosts ul li{
	display: inline;
	margin: 0;
	padding: 0;
	}
.blogPosts ul li a:link, .blogPosts ul li a:visited, .blogposts ul li a:link, .blogposts ul li a:visited {
	text-decoration: none;
	.bodyText;
	list-style: none;
	display: block;
	margin: 0;
	padding: 5px;
}
.blogPosts ul li:last-child a, .blogposts ul li:last-child a{
	text-decoration: none;
	}
.blogPosts ul li a:hover, .blogposts ul li a:hover{
	display: block;
	color:#fff;
	text-decoration: none;
	background: @primaryColor;
}

.comment{
	margin-bottom: 10px;
	line-height: 1.5em;
}
.comment-reply{
	padding-left: 20px;
	margin-top: 10px;
	line-height: 1.5em;
}
.comment-header{
	padding: 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #CCC;
	box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.2) inset, inset 0 -2px 0 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, inset 0 -2px 0 1px rgba(0,0,0,.2);
}
.admin-comment-header{
	padding: 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: transparent;
	box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.2) inset, inset 0 -2px 0 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, inset 0 -2px 0 1px rgba(0,0,0,.2);
}
.comment-body{
	margin-top: 5px;
	margin-bottom: 10px;
}
.blogCommentCount {
	float: right;
	font-weight: bold;
	padding-right: 20px;
	background: url(http://assets.snappages.com/websites/images/comments_small.gif) no-repeat right;
	}
.comment-title{
	font-size: 22px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.commentLink{
	padding-left: 20px;
	background: url(http://assets.snappages.com/websites/images/comments_small.gif) no-repeat left;
}

.rightArrow {
	padding-right: 20px;
	background: url(http://assets.snappages.com/websites/images/arrow_right_small.gif) no-repeat right;
}

.plusSign {
	padding-left: 20px;
	background: url(http://assets.snappages.com/websites/images/plus_small.gif) no-repeat left;
}
.plusSign a:link, .plusSign a:visited { .bodyText; text-decoration:none; font-weight:bold; }

.folderIcon {
	padding-left: 20px;
	background: url(http://assets.snappages.com/websites/images/folder_16.png) no-repeat left;
}

.tagIcon {
	padding-left: 18px;
	padding-top: 1px;
	background: url(http://assets.snappages.com/websites/images/tag_16.png) no-repeat left;
}

.comment-reply-link{
	padding-left: 20px;
	float: right;
}

.rssLink{
	padding-left: 20px;
	background: url(http://assets.snappages.com/websites/images/feed.png) no-repeat left;
}
.rssLinkRight{
	padding-right: 20px;
	background: url(http://assets.snappages.com/websites/images/feed.png) no-repeat right;
}
.rssHeading{
	font-size: 18px;
}
 /*____________________________________________________
  SHARE BUTTONS
  ____________________________________________________
*/
.addthis_horizontal_follow_toolbox{
	p{
		display:none;
	}	
}

.share-button{
	border-radius:3px;
	-moz-border-radius:3px;
	padding:5px;
	color: #FFF;
	line-height:13px;
	font-size:13px;
	font-weight:normal;
	font-family: Arial;
}
a.share-button:link, a.share-button:visited{
	font-family: Arial;
	text-decoration:none;
	color: #FFF;
}
a.share-button:hover{
	font-family: Arial;
	text-decoration:none;
	color: #FFF;
}
.share-button.facebook{
	background-color: #516aa4;
	text-shadow: 0 -1px 0 #1a3573;
	box-shadow: 0 2px 0 0px #1a3573, 0 2px 3px rgba(0,0,0,.5);
}
.share-button.twitter{
	background-color: #07a9ef;
	text-shadow: 0 -1px 0 #369;
	box-shadow: 0 2px 0 0px #369, 0 2px 3px rgba(0,0,0,.5);
}
.share-button.addthis{
	background-color: #ff6326;
	text-shadow: 0 -1px 0 #8e2f11;
	box-shadow: 0 2px 0 0px #a73a18, 0 2px 3px rgba(0,0,0,.5);
}
.share-button.linkedin{
	background-color: #0c6b92;
	text-shadow: 0 -1px 0 #094660;
	box-shadow: 0 2px 0 0px #094660, 0 2px 3px rgba(0,0,0,.5);
}
.share-button.googleplus{
	background-color: #444;
	text-shadow: 0 -1px 0 #111;
	box-shadow: 0 2px 0 0px #111, 0 2px 3px rgba(0,0,0,.5);
}
.share-button.pinterest{
	background-color: #CC0000;
	text-shadow: 0 -1px 0 #7e0000;
	box-shadow: 0 2px 0 0px #7e0000, 0 2px 3px rgba(0,0,0,.5);
}
.share-button.comments{
	background-color: #999;
	text-shadow: 0 -1px 0 #555;
	box-shadow: 0 2px 0 0px #555, 0 2px 3px rgba(0,0,0,.5);
}
/*____________________________________________________
  Form Elements
  ____________________________________________________
*/

form { display: inline; margin: 0; }

.req {
	background: url(http://assets.snappages.com/websites/images/input_bg.png) repeat-x top #FFCCCC;
	border: #CC0000 1px solid;
    margin-bottom: 5px;
	font-size: 13px;
    margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: none;
	}

.formInput {
	color: #000000 !important;
	background: #FFFFFF !important;
	border: #333 1px solid !important;
	border: rgba(0,0,0,.3) 1px solid !important;
	font-size: 13px !important;
    margin-bottom: 5px !important;
	border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	box-shadow: 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2) inset !important;
	}

input.formInput, input.req{
	padding: 3px;
	height: 20px;
	padding: 3px !important;
    }

textarea.formInput, textarea.req {
	font-family: Arial, Verdana, Helvetica, sans-serif !important;
    padding: 5px !important;
	width: 96% !important;
    }

.searchInput {
	background: url(/static/images/toolbar_find.png) no-repeat right;
	background-color: white;
	border: none;
	padding-left: 5px;
	height: 29px;
	width: 153px;
	font-size: 15px;
	}
.searchButton{
	background: url(http://assets.snappages.com/websites/images/search_button_bg.png) no-repeat top;
	border: none;
	height: 29px;
	width: 27px;
	margin-top:-6px;
    margin-left: -5px;
	}

.alert_attention, .alert_success, .alert_error{
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 1px;
    font-weight: bold;
	font-family: Arial;
	font-size: 13px;
	line-height: 2em;
    margin-top: 5px;
	border-radius: 5px;
}
.alert_attention {
	background: #FFEC7D url(http://assets.snappages.com/websites/images/attention_small.png) no-repeat 4px 5px;
	color: #630;
}
.alert_success {
	background: #CF6 url(http://assets.snappages.com/websites/images/check_small.png) no-repeat 5px 7px;
	color: #030;
}
.alert_error {
	background: #F99 url(http://assets.snappages.com/websites/images/x_small.png) no-repeat 4px 5px;
	padding-left: 25px;
	color: #900;
}

ul.button li a span{
	height:44px;
	margin-top:-12px;
	margin-left:-19px;
	padding-right:19px;
}
ul.button li a{
	padding-top:12px;
	padding-right:18px;
}
ul.button li a:link, ul.button li a:visited{
	background-image: url('/users/344340/theme/369921/images/button.png');
	background-repeat: no-repeat;
	background-position: top right;
}
ul.button li a:hover{
	background: url('/users/344340/theme/369921/images/button_over.png') no-repeat top right;
}
ul.button li a span  {
	background: url('/users/344340/theme/369921/images/button.png') repeat-x;
}
ul.button li a:hover span{
	background: url('/users/344340/theme/369921/images/button_over.png') repeat-x;
}
@primaryColor:#fd4e42;@secondaryColor:#999999;@ternaryColor:#666;@underlineColor:#acacac;@bannerColor:#20B2AA;@buttonLabelColor:#626262;.buttonLabelShadow(){}
.bg(){background-color:#e9e9e9;background-repeat:both;background-attachment:fixed;background-size:auto;background-position:top left;}
.pageHeading(){color:#ababab;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:200;font-style:normal;font-size:41px;line-height:2em;text-decoration:none;text-transform:none;letter-spacing:-0.05em;}
.heading1(){color:@primaryColor;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:300;font-style:normal;font-size:30px;line-height:1.5em;text-decoration:none;text-transform:none;letter-spacing:-.04em;.textshadow-none;}
.heading2(){color:@primaryColor;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:24px;line-height:2em;text-decoration:none;text-transform:none;letter-spacing:-.04em;.textshadow-none;}
.heading3(){color:@secondaryColor;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:22px;line-height:2em;text-decoration:none;text-transform:none;letter-spacing:-.04em;.textshadow-none;}
.heading4(){color:@secondaryColor;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:18px;line-height:2em;text-decoration:none;text-transform:none;letter-spacing:-.04em;.textshadow-none;}
.bodyText(){color:#000000;font-family:"Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:14px;line-height:1.7em;.textshadow-none;}
.textLink(){color:@primaryColor; text-decoration:none;}
.textLink_hover(){border-bottom: 1px solid @underlineColor;}
.dividerStyle(){border-bottom: 1px solid #CCCCCC;}
@subNavBackground:#000000;@subNavColor:#FFFFFF;@subNavHover:@primaryColor;.headerBg(){background-color:@bannerColor;background-repeat:repeat-x;background-attachment:scroll;background-size:auto;background-position:bottom center;}
@theme_width:1060px;@content_width:980px;.contentBg(){background-color:#ffffff;background-repeat:both;background-attachment:scroll;background-size:auto;background-position:top left;}
.footerBg(){background-color:@ternaryColor;background-repeat:both;background-attachment:scroll;background-size:auto;background-position:top center;}
.footerHeadings(){color:#FFFFFF;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:15px;line-height:3em;text-decoration:none;letter-spacing:0.12em;}
.footerText(){color:#FFFFFF;font-family:"Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:14px;line-height:2em;.textshadow-none;}
.footerLink(){ color:#ffffff; text-decoration:none; }
.footerLink_hover(){ color:@primaryColor; text-decoration:none; }
.navigationText(){color:#ffffff;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:15px;text-transform:none;letter-spacing:0em;.textshadow-none;}
.navigationText_hover(){ color:@primaryColor; text-decoration:none; }
.highlightBg(){background-color:@primaryColor;background-repeat:both;background-attachment:scroll;background-size:auto;background-position:top center;}
.highlightText(){color:#ffffff;font-family:"Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;font-weight:400;font-style:normal;font-size:19px;line-height:1.3em;text-decoration:none;text-transform:none;letter-spacing:-0.02em;.textshadow-none;}

#snappages-navigation, #sp-navigation{
	position:relative;
	top: -10px;
	.navigationText;
	min-height: 50px;
	line-height: 30px;
	width: 100%;
	right: 0;
	left: 0;
	#snappages-navigation-bar, #sp-navigation-bar{
		position:absolute;
		top: 0;
		left: -5px;
		width: 100%;
		left: 0px;
	}
	#snappages-navigation-bar .bar-left, #sp-navigation-bar .bar-left{
	}
	#snappages-navigation-bar .bar-center, #sp-navigation-bar .bar-center{
		min-height: 50px;
		background-color:@ternaryColor;
	}
	#snappages-navigation-bar .bar-right, #sp-navigation-bar .bar-right{
	}
	#snappages-navigation-links, #sp-navigation-links{
		z-index:1200;
		.no-select;
		margin-right: auto;
		margin-left: auto;
		width: @theme_width;
	}
}
#snappages-navigation-links > ul, #sp-navigation-links > ul{
	padding: 0;
	position: relative;
	top: 6px;
	margin: 0px;
	overflow: visible;
	height: 38px;
	padding-right: 10px;
	padding-left: 10px;
	list-style:none;
	display: table;
	pointer-events: auto;
	float: right;
}
#snappages-navigation-links > ul > li, #sp-navigation-links > ul > li{
	display: table-cell;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	height: 100%;
	margin: 0px 2px;
}
#snappages-navigation-links > ul > li > a:link, #snappages-navigation-links > ul > li > a:visited, #sp-navigation-links > ul > li > a:link, #sp-navigation-links > ul > li > a:visited{
	.navigationText;
	padding: 0px 15px;
	text-decoration: none;
}
#snappages-navigation-links > ul > li > a:hover, #sp-navigation-links > ul > li > a:hover {
	.navigationText_hover;
	padding: 0px 15px;
}
#snappages-navigation-links > ul > li.alpha, #sp-navigation-links > ul > li.alpha{
	border-left: none;
}
#snappages-navigation-links > ul > li.omega, #sp-navigation-links > ul > li.omega{
	border-right: none;
}
#snappages-navigation-links > ul > li.selected > a, #sp-navigation-links > ul > li.selected > a{
	display: table-cell;
	vertical-align: middle;
	color: @primaryColor;
	background-color: transparent;
	border-radius: 0px;
	height: 38px;
}
#snappages-navigation-links > ul > li, #sp-navigation-links > ul > li{
	position: relative;
}
#snappages-navigation-links > ul > li > ul, #sp-navigation-links > ul > li > ul {
	position: absolute;
	list-style: none;
	display: none;
	line-height: 2em;
	text-shadow: none;
	background: @subNavBackground;
    z-index: 550;
	margin: 0;
	padding: 0;
    overflow: visible;
    font-style: normal;
	font-weight: normal;
    color: @subNavColor;
	width:auto;
}
#snappages-navigation-links > ul > li > ul > li > a:link, #snappages-navigation-links > ul > li > ul > li a:visited, #sp-navigation-links > ul > li > ul > li > a:link, #sp-navigation-links > ul > li > ul > li a:visited {
	white-space:nowrap;
    display: block;
    padding: 5px;
    padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	background: @subNavBackground;
	color: @subNavColor;
}
#snappages-navigation-links > ul > li > ul > li > a:hover, #sp-navigation-links > ul > li > ul > li > a:hover{
	color: @subNavColor;
	background: @subNavHover;
}
#snappages-navigation-links > ul > li > ul > li.alpha a, #sp-navigation-links > ul > li > ul > li.alpha a{

}
#snappages-navigation-links > ul > li > ul > li.omega a, #sp-navigation-links > ul > li > ul > li.omega a{

}

#snappages-header, #sp-header{
	width: @theme_width;
	height: 120px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	.headerBg;width: 100%;
	#snappages-header-canvas, #sp-header-canvas{
		position: relative;
		width: @theme_width;
		margin-right: auto;
		margin-left: auto;

		a:link, a:visited{
			color: #ffffff;
		}
	}
	.snappages-header-element, .sp-header-element{
		padding: 10px 10px;
		line-height: 1em;
		display:inline-block;
		position:absolute;
		.no-select;
	}
	.snappages-header-element.over, .sp-header-element.over{
		box-shadow: 0 0 0px 3px rgba(100,100,100,.5),0 0 200px 2px rgba(100,100,100,.3) inset;
		border-radius: 5px;
	}
}

#snappages-content, #sp-content{
	width: @theme_width;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	.contentBg;
}

#snappages-footer, #sp-footer{
	width: @theme_width;
	min-height: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	border-radius: 0px;
	.footerText;
	.footerBg;
}
#snappages-footer-links, #sp-footer-links{
	width: @content_width;
	margin-left: auto;
	margin-right: auto;
	padding-top:10px;
	min-height: 15px;
	.footerText;
	.footerLink;

	ul{
		padding: 0;
		position: relative;
		top: 6px;
		margin: 0px;
		padding-right: 10px;
		padding-left: 10px;
		list-style:none;
		display: table;
		pointer-events: auto;
		margin-right: auto;
		margin-left: auto;
	}
	li{
		display: table-cell;
		vertical-align: middle;
		padding: 0px 10px;
	}
	a:link, a:visited{
		.footerLink;
	}
	a:hover{
		.footerLink_hover;
	}
}
#snappages-footer-links.basic, #sp-footer-links.basic{
	min-height: 50px;
}
#snappages-footer-menu, #sp-footer-menu{
	width: @content_width;
	margin-left: auto;
	margin-right: auto;
	min-height: 25px;
	padding-top: 30px;

	.footerText;

	.footer-heading{
		.footerHeadings;
	}
	.footer-column{
		float:left;
	}
	.footer-link{
		.footerLink;
		margin-bottom:5px;
	}
	a:link, a:visited{
		.footerLink;
	}
	a:hover{
		.footerLink_hover;
	}
}
#footer-menu-holder.columns-1{
	.footer-column{
		width: 100%;
	}
}
#footer-menu-holder.columns-2{
	.footer-column{
		width: 45%;
		margin-right:5%;
	}
	.footer-column.omega{ margin-right:0; }
}
#footer-menu-holder.columns-3{
	.footer-column{
		width: 30%;
		margin-right:5%;
	}
	.footer-column.omega{ margin-right:0; }
}
#footer-menu-holder.columns-4{
	.footer-column{
		margin-right:4.5%;
	}
	.footer-column.omega{ margin-right:0; }
}
#footer-menu-holder.columns-5{
	.footer-column{
		width: 16%;
		margin-right:5%;
	}
	.footer-column.omega{ margin-right:0; }
}

#footer-extra{
	text-align: right;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: @content_width;
	.footerText;
	
	a:link, a:visited{
		.footerLink;
	}
	a:hover{
		.footerLink_hover;
	}
}

#billboard{
	width: @content_width;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	.no-select;
}

.block.highlight > div:first-child, .block.highlight div.cke_editable{
	.highlightBg;
	.highlightText;
	width: auto;
	padding: 15px;
	border-radius: 8px;
}


 /*____________________________________________________
  REVIEWIT SPECIFIC
  ____________________________________________________
*/

.review_ask{
  margin-left:20px;
}

.item {
  margin-bottom: 10px;
}

.item_common{
  list-style-type: none;
  border: 1px solid whitesmoke;
  border-left:1px solid @underlineColor;
  margin-bottom: 20px;
  padding:5px;
}

.item_comment, .item_reviewer, .item_list, .item_invite
{
  .item_common;
}

.item_comment a:link, .item_comment a:visited, .item_reviewer a:link, .item_reviewer a:link,
.item_list a:link, .item_list a:visited, .item_invite a:link, .item_invite a:visited{
	text-decoration:none;
}

.item_review{
  padding:5px;
  border: 1px solid whitesmoke;
  /*box-shadow: 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2) inset !important;*/
}

.item_reviewer, .item_invite{
	margin-bottom:10px;
}

.error{
  margin:0px;
  padding:0px;
  font-size:15px;
}

.helptext{
  color:@ternaryColor;
  display:none;
}

.errorlist{
  padding:0px;
  color:@ternaryColor;
  margin:0px;
  list-style-type: none;
}

#comments_list{
  padding:0px;
}

.formContent input,
.formContent textarea
{
  width:100%;
}

.block a:hover{
  .textLink_hover;	
}

.timestamp{
  color:@ternaryColor;font-size:13px;
}

.js-editor-buttons a:hover, #page-title a:hover{
	border-style:none;
}

#search{
	right:450px;
	width:400px;
	top:52px;

	input{
		width:100%;
		height:32px;
	}
}

.bullet{
  	padding: 0 4px;
  	color:@ternaryColor;font-size:13px;
}