{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div id="grid" class="container_24">
  <div id="pageTitle" class="page-title" style="display:none;">
    Home
  </div>
  <div class="column container grid_24 alpha omega">
    <div class="column grid_8" style="width:60%;margin-left:40px; margin-top:40px;">
      <div class="block heading" data-type="heading" data-title="heading" data-id="3">
        <h1>
          <div class="h1" style="text-align:justify;">
            login
          </div>
          <div id="block" class="divider" style="margin-bottom:10px;">
          </div>
        </h1>
      </div>
      <div class="block text" data-type="text" data-title="text" data-id="1">
        <form action="" method="post" id='login_form'>
        {% csrf_token %}
          {{ form.as_p }}
            <button class="pure-button">login</button>
        </form>
        <div class="h1" style="font-size:20px;">
          or
          <a href="{% url 'allauth:register' %}" target="_self">
           register
          </a>
        </div>
      </div>
    </div>
    <div class="column grid_8 omega" style="padding-top:40px;">
    </div>
  </div>
  <div style="clear:both;">
  </div>
</div>
</div>
</div>
{% endblock %}