{% load humanize %}
<li class='item_comment'>
	<strong>{{ comment.user.username }}</strong>: {{ comment.detail|safe }}<br>
	<span style='color:#666;font-size:13px;'>{{ comment.date|naturaltime }}</span>
</li>
