{% extends 'base.html' %}
{% load staticfiles %}

{% block page-title %}
start a review
{% endblock %}

{% block alpha %}
<div class="formContent" style="margin: 5px 0;">
  <form action="{% url 'reviews:ask' %}" method="post" id="ask_form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="pure-button" style="margin:10px 0;">reviewit</button>
  </form>
</div>
{% endblock %}

{% block sidebar-title %}
<div class="h1" style="text-align:center;">
reviewers
</div>
<div id="block" class="divider" style="margin-bottom:10px;">
</div>
{% endblock %}

{% block sidebar-content %}
<div class="formContent" style="margin-top: 5px;width:65%;margin:0 auto;">
  <button class="pure-button pure-button-disabled">reviewit to add people</button>
</div>
{% endblock %}