{% verbatim %}
<div class="review-item">
  <a href="{{ review.link.link }}" target="_blank">{{ review.title }}</a>
  <div>
    {{ review.query }}
  </div>
  <div>
    <strong>{{ review.reviewee.username }}</strong>
    <span class="bullet">•</span>
    <span class="timestamp">
      {{ review.date }}
    </span>
  </div>
</div>
{% endverbatim %}
