{% extends 'base.html' %}
{% load staticfiles %}

{% block main-content %}
<div class="column grid_8 alpha">
  <img src="{% static 'images/Banner.jpg' %}">
</div>
<div class="column grid_8" style="width:30%;padding-top:40px">
  <div class="h1" style="text-align:right;">
    how this works
  </div>
  <div id="block" class="divider" style="margin-bottom:10px;">
  </div>
  <ul style="direction:rtl;">
    <li>
      create a product review
    </li>
    <li>
      add friends to the review
    </li>
    <li>
      submit and wait for feedback
    </li>
    <li>
      D-:
    </li>
  </ul>
</div>
{% endblock %}

{% block sidebar-title %}
{% endblock %}

{% block sidebar-content %}
<div class="block heading" data-type="heading" data-title="heading" data-id="3">
  <div class="formContent" style="margin-top: 5px;width:65%;margin:0 auto;">
    <form action="{% url 'allauth:login' %}" method="post" id='login_form'>
      {% csrf_token %}
      {{ form.as_p }}
        <div>
          <button class="pure-button">login</button>
        </div>
        <div class="h1" style="font-size:20px;">
          or
          <a href="{% url 'allauth:register' %}" target="_self">
           register
          </a>
        </div>
    </form>
  </div>
  <div id="block" class="divider" style="margin:30px 0;">
  </div>          
  <div class="h1" style="text-align:center;font-size:20px;font-style:italic;">
    <a href="{% url 'reviews:list' %}" target="_self">
      continue as guest
    </a>
  </div>
</div>
{% endblock %}