<p>
Hello, <br><br>

<strong>{{ username }}</strong> has added you to <a href="{{ link }}" target="_blank">{{ title }}</a><br><br>

Please click on the above link to give your reviews.<br><br>

Regards,<br>
<strong>Reviewit Team</strong>
</p>