{% verbatim %}
<ul>
    <li ng-repeat='review in reviews'>
        <div>
            <a href='#/view/{{ review.id }}'>{{ review.title }}</a>
            <div class="review-author">
                <span class="text">posted by {{ review.reviewee.username }}</span>
                <span class="timestamp"> {{ review.date }}</span>
            </div>
        </div>
    </li>
</ul>
{% endverbatim %}



