{% extends 'base.html' %}
{% load staticfiles %}

{% block page-title %}
<h3>Reviews</h3>
{% endblock %}

{% block alpha %}
{% verbatim %}
<div class="reviews-List" ng-app="reviewsApp">
    <div ng-view></div>
</div>
{% endverbatim %}
{% endblock %}

{% block sidebar-title %}
{% endblock %}