{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block page-title %}
<a href="{{ review.link.link }}" target="_blank">{{ review.title }}</a>
{% endblock %}

{% block alpha %}
<div class="item_review">
  <div id="query" class="item">
    {{ review.query|safe }}
  </div>
  <div class="item">
    <strong>{{ review.reviewee.username }}</strong>
    <span class="bullet">•</span>
    <span class="timestamp">
      {{ review.date|naturaltime }}
    </span>
  </div>
</div>

<div class="h1" style="text-align:justify;margin-top:40px;">
  reviews (<span id="comment_count">{{ comments.count }}</span>)
</div>
<div id="block" class="divider" style="margin-bottom:10px;">
</div>
<div>
  <ul id="comments_list">
    {% for comment in comments %}
    <li class="item_comment">
      <strong>
        {{ comment.user.username }}
      </strong>
      <span class="bullet">•</span>
      <span class="timestamp">{{ comment.date|naturaltime }}</span>
      <br>
      {{ comment.detail|safe }}
    </li>
    {% endfor %}
  </ul>
</div>
<div class="formContent" style="margin: 5px 0;">
  <form action="{% url 'comments:add' review.id %}" method="post" id="comment_form">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button class="pure-button" style="margin:10px 0;">submit</button>
  </form>
</div>
{% endblock %}

{% block sidebar-title %}
<div class="h1" style="text-align:center;">
  reviewers
</div>
<div id="block" class="divider" style="margin-bottom:10px;">
</div>
{% endblock %}

{% block sidebar-content %}
{% if is_reviewee %}
<div class="formContent" style="margin-top: 5px;width:65%;margin:0 auto;">
  <form action="{% url 'invites:add' review.id %}" method="post" id="add_friend_form">
    {% csrf_token %}
    {{ invite_form.as_p }}
    <button class="pure-button">add</button>
  </form>
</div>
{% endif %}
<div>
  <ul id="reviewers_list">
    {% for reviewer in reviewers %}
    <li class="item_reviewer">
      {{ reviewer.username }}
    </li>
    {% endfor %}
  </ul>
</div>
{% if is_reviewee %}
<div class="h1" style="text-align:center;font-size:22px;">
  invitees
</div>
<div id="block" class="divider" style="margin-bottom:10px;">
</div>
<div>
  <ul id="invite_list">
    {% for invitee in invitees %}
    <li class="item_invite">
      {{ invitee.email }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}