{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block page-title %}
about
{% endblock %}

{% block alpha %}
<p>
  reviewit aims to help you collect reviews for your next purchase or a product you wish to have, from your social contacts easily.
</p>
<p>
  one stop place to browse reviews relating to a product you wish to buy; reviews from top reviewers, to first hand experiences of your social circle, so that you can make the right decisions before making a purchase. 
</p>
{% endblock %}

{% block sidebar-title %}
{% endblock %}
