{% load staticfiles %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div id="grid" class="container_24">
  <div class="column container grid_24 alpha omega">
    {% block main-content %}
    <div class="column grid_8" style="width:60%;margin-left:40px; margin-top:40px;">
      <div class="block heading" data-type="heading" data-title="heading" data-id="3">
        <h1>
          <div class="h1" style="text-align:justify;" id="page-title">
            {% block page-title %}
            {% endblock %}
          </div>
          <div id="block" class="divider" style="margin-bottom:10px;">
          </div>
        </h1>
      </div>
      <div class="block text" data-type="text" data-title="text" data-id="1">
        {% block alpha %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    <div class="column grid_8 omega" style="padding-top:40px;">
      <div class="block heading" data-type="heading" data-title="heading" data-id="3">
        <h1>
          {% block sidebar-title %}
          <div class="h1" style="text-align:center;">
          </div>
          <div id="block" class="divider" style="margin-bottom:10px;">
          </div>
          {% endblock %}
        </h1>
        {% block sidebar-content %}
        {% endblock %}        
      </div>
    </div>
  </div>
  <div style="clear:both;">
  </div>
</div>
</div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}