{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block page-title %}
careers
{% endblock %}

{% block alpha %}
<p>
  interested in working on a cool project which can help revolutionize the decision making process before buying a product?!
</p>
<p>
  send your resume to reviewit.co.in@gmail.com
</p>
{% endblock %}

{% block sidebar-title %}
{% endblock %}
