{% load staticfiles %}
<div id="sp-footer">
  <div id="snappages-footer-menu">
    <div id="footer-menu-holder" class="columns-4">
      <div class="footer-column alpha" data-type="text">
        <div class="footer-heading">
          &copy; reviewit.co.in 2014
        </div>
        <div class="footer-text">
        </div>
      </div>
      <div class="footer-column " data-type="links">
        <div class="footer-heading">
          <a href="{% url 'privacy' %}" target="_self">privacy policy</a>
        </div>
      </div>
      <div class="footer-column " data-type="links">
        <div class="footer-heading">
          <a href="{% url 'terms' %}" target="_self">terms of use</a>
        </div>
      </div>
      <div class="footer-column " data-type="links">
        <div class="footer-heading">
          <a href="{% url 'about' %}" target="_self">about</a>
        </div>
      </div>
      <div class="footer-column " data-type="links">
        <div class="footer-heading">
          <a href="{% url 'careers' %}" target="_self">careers</a>
        </div>
      </div>
      <div class="footer-column " data-type="links">
        <div class="footer-heading">
          <a href="{% url 'reviews:feedback' %}" target="_self">feedback</a>
        </div>
      </div>
      <div class="footer-column omega" data-type="image" style="text-align:right;">
        <div class="footer-heading">
          {% include 'social.html' %}
        </div>
      </div>
      <div style="clear:both;">
      </div>
    </div>
  </div>
  <div id="footer-extra" style="display:none;">
  </div>
</div>

</div>
</body>
</html>