{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="wf-raleway-n8-active wf-raleway-n7-active wf-raleway-n5-active wf-raleway-n6-active wf-opensans-i8-active wf-arvo-i7-active wf-raleway-n9-active wf-raleway-n4-active wf-raleway-n1-active wf-arvo-n7-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-n8-active wf-opensans-i4-active wf-opensans-n6-active wf-opensans-i6-active wf-opensans-n3-active wf-opensans-i3-active wf-opensans-n4-active wf-arvo-n4-active wf-arvo-i4-active wf-raleway-n2-active wf-raleway-n3-active wf-active">
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="google-site-verification" content="">
    <meta name="verify-v1" content="">
    <meta name="viewport" content="width=1060px">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    
    <title>
      reviewit
    </title>
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/styles.less' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/snappages.min.2.0.10.css' %}" >
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/yellow-text-default.css' %}" > 
    <script src="{% static 'js/less.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/webfont.js' %}" type="text/javascript" async=""></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/angular.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular-router.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/service.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/controller.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/config.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}" type="text/javascript">
    </script>
    <script src="{% static 'js/yellow-text.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
      var tid = 369921;
      var uid = 344340;
      var customFonts = "Arvo:regular,italic,700,700italic|Open Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic|Raleway:100,200,300,regular,500,600,700,800,900";
      var isMobile = false;
    </script>
    <link rel="stylesheet" href="{% static 'css/font-face.css' %}">
    <!--
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b035667e24e372"></script>
    -->
  </head>
  <body>
    <div id="wrapper">
      {% include 'nav.html' %}
      <div id="sp-content">
        <div id="content" data-layout="twocolumn" data-index="9" style="min-height:300px;">