{% load staticfiles %}
<div id="sp-header">
  <div id="snappages-header-canvas">
    <div class="snappages-header-element" style="font-family:&#39;Raleway&#39;;color:#ffffff;font-size:50px;font-weight:300;font-style:normal;letter-spacing:-0.06em;top:40px;left:-10px;border-radius:0px;background-color:transparent;">
      <a href="{% url 'reviews:index' %}">reviewit</a>
    </div>
    <div class="snappages-header-element formContent" id="search">
      <form action="{% url 'reviews:search' %}" method="get" id="search_form">
        <input id="id_q" maxlength="254" name="q" type="text" class="searchInput" value="{{ query_string }}">
      </form>
    </div>
  </div>
  
  <div id="snappages-navigation">
    <div id="snappages-navigation-bar">
      <div class="bar-left">
      </div>
      <div class="bar-center">
      </div>
      <div class="bar-right">
      </div>
    </div>
    <div id="snappages-navigation-links">
      <ul>
        <li style="z-index:1251" id="nav_home" class="selected alpha">
          <a href="{% url 'reviews:index' %}" target="_self">
            <span>
            </span>
            home
          </a>
        </li>
        <li style="z-index:1249;" id="nav_about">
          <a href="{% url 'reviews:ask' %}" target="_self">
            <span>
            </span>
            ask
          </a>
        </li>
        <li style="z-index:1246;" id="nav_contact" class="omega">
          <a href="{% url 'reviews:list' %}" target="_self">
            <span>
            </span>
            explore
          </a>
        </li>
        <li style="padding-right:10px;">
          |
        </li>
        <li>
        {% if user.is_authenticated %}
          <p>welcome, {{ user.username }}</p>
        {% else %}
          <p>welcome, anonymous!</p>
        {% endif %}
        </li>
        <li>
          {% if user.is_authenticated %}
            <a href="{% url 'allauth:logout' %}" target="_self">logout</a>
          {% else %}
            <a href="{% url 'allauth:login' %}" target="_self">login</a>
          {% endif%}
        </li>
      </ul>
    </div>
  </div>
</div>